*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}
img {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    height: auto;
  }
.title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:3rem;
    margin-bottom: 1.5rem;
}

#cards{
    display: flex;  
    margin-left: 3rem;
    justify-content: space-around;
    flex-wrap: wrap;
   
}
.card{
    width: 300px;
   margin-bottom: 2rem;
   box-shadow: 0 0 2px 3px black;
   text-align: center;
   padding: 2rem;
}

.flagImage{
    width: 80%;
    margin: 1rem;
    justify-content: center;
}

.countryName{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 700;
    font-size: medium;
}

.listItems{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-weight: 400;
    padding-bottom: 1rem;

}